.link{
    text-decoration: none;
}



.homeButton{
    color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    border: solid 2px wheat;
    border-radius: 3px;
    padding: 0.5rem;
    width: 15rem;
    margin: 1rem auto;
    
}

.homeButton:hover{
    color:rgb(0, 0, 0);
    background-color:rgb(242, 191, 252);
    border: solid 2px wheat;
    box-shadow: 20px;
}



.page{
    width: 60%;   
    margin: 0 auto;
    background-color: rgba(255, 228, 196, 0.664);
    border-radius: 20px;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}





.upText{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    color: rgb(63, 56, 44);
}


.downText{
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(85, 78, 66);
    text-align: start;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container svg{
    height: 2rem;
    width: 2rem;
}

.image{
    width: 90%;
    height: 32vw;
    border: 5px solid #ffcaff;
    border-radius: 10px;

}




.description{
    color: rgb(85, 78, 66);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-bottom: 3%;
}