/* Recordatorio: No Anda el module cuando no usamos clases o ids */
.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentContainer{
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  justify-content: space-between;
}

.content{
  display: flex;
  flex-direction: row;
}

.list{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  grid-gap: 2rem;
  /*gap: 2rem;*/
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  right: 0px;
}




@media only screen and (max-width: 590px) {
  /* For small mobile phones: */
  .content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
