.det{
    text-decoration: none;
}

.card{
    border:1px solid wheat;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #969090b9;
    width: 340px;
    height: auto;
    color: rgb(63, 56, 44);
}


.card p{
    padding: 0px;
    margin: 3px;
}

.image{
    width:340px; 
    height:200px;
    border-radius: 3px
}