.det{
    text-decoration: none;
}

.card{
    border:2px solid rgb(24, 6, 56);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #969090b9;
    width:340px;
    height: 380px;
    color: rgb(46, 95, 95)
 }

 .image{
    width:340px; 
    height:200px;
    border-radius: 3px
 }