.det{
    text-decoration: none;
}

.card{
    border:1px solid wheat;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #969090b9;
    width: 340px;
    height: auto;
    color: rgb(63, 56, 44);
    transition: .4s;
}

.card:hover{
    background-color:  #c7c3c3af;
    color:rgb(90, 66, 46);
}


.card h4{
    padding: 0px;
    margin: 7px;
}

.card p{
    padding: 0px;
    margin: 3px;
}

.cardStatic{
    border:1px solid wheat;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #969090b9;
    width: 340px;
    height: auto;
    color: rgb(63, 56, 44);
}

.cardStatic h4{
    padding: 0px;
    margin: 7px;
}

.cardStatic p{
    padding: 0px;
    margin: 3px;
}

.image{
    width:340px; 
    height:200px; 
    /* object-fit: fill; */
    /* 
    max-width:340px;
    max-height:200px;
    object-fit: contain;
    */
    border-radius: 3px;
}

