.footerSmall{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0vh;
    margin-top: 7.6rem;
    margin-bottom: 0vh;
    color: rgb(63, 56, 44);
    text-decoration: none;
    background-color: rgba(125, 126, 97, 0.404);
    position: relative;
    width: auto;
}


.footerSmall svg{
    height: 1.8rem;
    width: 1.8rem;
}

.footerSmall a{
    text-decoration: none;
}

.footerSmall a:link, a:visited {
    color: rgb(63, 56, 44);
    text-decoration: none;
}
  
.footerSmall a:link:active, a:visited:active {
    color: rgb(250, 214, 146);
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0vh;
    margin-top: 7.6rem;
    margin-bottom: 0vh;
    color: rgb(63, 56, 44);
    text-decoration: none;
    background-color: rgba(125, 126, 97, 0.404);
    position: relative;
    width: auto;
}


.footer svg{
    height: 1.8rem;
    width: 1.8rem;
}

.footer a{
    text-decoration: none;
}

.footer a:link, a:visited {
    color: rgb(63, 56, 44);
    text-decoration: none;
}
  
.footer a:link:active, a:visited:active {
    color: rgb(250, 214, 146);
}

.links{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.links a{
    transition: ease .4s;
}

.links a:hover{
    scale: 1.2;
    color: rgb(250, 214, 146);
}

.text{
    padding-top: 0px;
    margin-top: 0.8rem;
}

.textBold{
    font-weight: 600;
    padding-top: 0px;
    margin-top: 0.8rem;
}
